---
import Layout from '../layouts/BlogPost.astro';
import Boton from '../components/Boton.astro';
---

<Layout
class="mt-0"
	description="My short life as Developer"
	
>
<html>
	<h1 class="text-5xl text-sky-800 mb-3" style="text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Sobre mi</h1>
		<img class="mb-10" src="https://d3kqdc25i4tl0t.cloudfront.net/articles/content/543_378726_tech.hero.jpg" alt="">
		<head>

		</head>
		<body>
			<p class="text-justify font-medium" style="font-family: 'Times New Roman', Times, serif;">
				Hola! soy Pablo un joven nacido en Canarias que siempre ha mostrado un gran interes por las tecnologias 
				pero sobre todo los años 2022-2023 que han sido dedicados integros a mi formacion en el mundo del desarrollo,
				desde el lenguaje python hasta usar frameworks como Astro, framwork con el que hice esta web JEJE.
				Sigo con las mismas ansias de aprender sobre este colosal mundo. <span class="font-bold">Continuara. . .</span>
			</p>
				<Boton />
		</body>

	</html>
</Layout>
